@media(max-width:450px){
    .first-section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: gainsboro;
        font-size: 1.5rem;
    }
    .mainsec-1{
        margin-right: 2rem;
    }
    .first-section span{
        color: #ff422a;
    }
    .second-1{
        text-align: left;
        margin-left: 2rem;
    }
    .second-section{
        display: flex;
        flex-direction: column;
    }
    .second-section a{
        text-decoration: none;
        color: #ff422a;
        cursor: pointer;
    }
    .img-sec{
        height: 15rem;
        width: 26rem;
    }
    .third-section{
        background-color: black;
        color: white;
        position: relative;
        height: 130vh;
    }
    .third-section li{
        position: absolute;
        top: 9%;
    }
    .t-div1{
        position: absolute;
        top: 15%;
        left: 5%;
    }
    .t-div3{
        position: absolute;
        bottom: 15%;
        right: 2%;
    }
    .third-section span{
        color: #ff422a;
    }
}