
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
@font-face {
    font-family: mont;
    src: url(./FONTS/Montserrat-VariableFont_wght.ttf);
}

nav {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav ul {
    display: none;
}

.menu-icon {
    font-size: 3rem;
    color: red;
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 50vh;
    position: relative;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

.banner video {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.company-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.company-name, .company-services {
    color: #fff;
    font-weight: 700;
}

.company-name { 
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .5rem;
}

.company-name-2 {
    padding: .3rem;
    letter-spacing: .5rem;
    font-size: .7rem;
    font-weight: 700;
    background-color: #fff;
    border-radius: .1rem;
    text-align: center;
    margin-bottom: .2rem;
}

.company-services {
    font-size: .42rem;
    letter-spacing: .11rem;
}

.hero {
    background: url(./img/hero-image-2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    color: #fff;
    object-fit: cover;
    height: 60vh;
    position: relative;
    margin-bottom: 1.5rem;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.hero-wrapper {
    position: absolute;
    top: 50%;;
    transform: translateY(-50%);
    padding: 1.5rem;
}

.box-icon {
    color: red;
    font-size: .8rem
}

.hero-text {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}

.hero-heading {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.hero-btn {
    outline: none;
    background: none;
    border: 5px solid red;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    padding: .6rem 1rem;
    transition: background .7s ease ;
}

.hero-btn:hover {
    background: red;
}

.archi-service, .estate-service, .development-service {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    font-weight: 600;
    color: #000;
}

.archi-service {
    background: #878f91;
}

.estate-service {
    background: #BAC3C6;
}

.development-service {
    background: #DAE4E6;
}

.plus-icon {
    color: red;
}
main{
    font-family: mont;
}
.first-section{
    display: flex;    
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    background-color: gainsboro;
    font-size: 1.3rem;
    height: 80vh;
    margin-top: 3.2rem;
    background-image: url(./img/illustration.png);
}
.mainsec-1{
    margin-right: 2rem;
    grid-area: first-1;
}
.mainsec-2{
    grid-area: first-2;
}
.mainsec-3{
    grid-area: first-3;
}
.first-section span{
    color: #ff422a;
}
.second-section{
    margin: 1rem;
}
.second-section article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 60vh;
    column-gap: 0.5rem;
    background-color: black;
}
.sec-image-div1, .sec-image-div2, .sec-image-div3{
    background-color: white;
}
.second-section article div:nth-child(2){
    background-color: white;
}
.img-sec{
    width: 100%;
    height: 79%;
    object-fit: cover;
}
.second-section h2{
    padding: 1rem 0;
    margin: 2rem 1rem;
}
.sec-image-div2{
    order: 1;
}
.second-section article p{
    padding-top: 1rem;
    padding-left: 1rem;
    margin-top: 4rem;
    font-size: 1.2rem;
}
.second-section article a{
    text-decoration: none;
    color: #ff422a;
    font-weight: bold;

}
.third-section{
    background-color: black;
    color: white;
    position: relative;
    height: 140vh;
    padding-left: 1rem;
    font-size: 1.2rem;
}
.square-dot{
    background-color: #ff422a;
    position: absolute;
    display: block;
    height: 10px;
    width: 10px;
    top: 10%;
    left: 5%;
}
.third-section li{
    position: absolute;
    top: 9%;
    left: 7%;
    list-style: none;
}
.t-div1{
    position: absolute;
    top: 17%;
    left: 10%;
    width: 15%;
    z-index: 1;
    text-align: right;
}
.third-section h2{
    font-size: 5rem;
    width: 100%;
    font-weight: bolder;
}
.t-div3{
    position: absolute;
    bottom: 10%;
    right: 5%;
}
.third-section span{
    color: #ff422a;
}
.t-div2{
    position: relative;
    height: 18rem;
    top: 16rem;
    left: 1rem;
}
.t-img1{
    position: absolute;
    height: 165%;
    width: 65%;
    left: 25%;
}
.image-hover{
    position: absolute;
    top: 0;
    left: 15%;
    width: 80%;
    height: 165%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;   
}
.image-hover:hover{
    opacity: 1;
}
.images-grid span, .fa-regular{
    color: #ff422a;
}
.bigger-square{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff422a;
    width: 5.6rem;
    height: 5.6rem;
    top: 26%;
    left: 83%;
}
.bigger-square i{
    color: white;
    font-size: 1.5rem;
}
.fourth-section{
    background-color: gainsboro;
    text-align: center;
    height: 40vh;
    font-size: 1.2rem;
    display: flex;
    padding: 2rem 0;
}
.fourth-section div{
    padding: 1rem;
}
.fourth-section img{
    width: 15%;
}
.f-sec-p{
    font-weight: bold;
    margin: 1rem;
}
.fifth-section{
    background-image: url(./img/illustration.png);
    background-repeat: no-repeat;
}
.fifth-section h2{
    color: #ff422a;
    font-weight: bolder;
    font-size: 3.5rem;
}
.f-div1{
    height: 30vh;
    text-align: right;
    border-right: black 6px solid;
    margin: 4rem 1.5rem;
    padding-right: 1.5rem;
}
.images-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    row-gap: 1rem;
    margin: 3rem 0;
}
.images-grid div{
    position: relative;
    height: 18rem;
    margin: 0 1rem;
}
.grid-hover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96%;
    height: 95%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.images-grid article:hover{
    opacity: 1;
}
.images-grid p{
    padding: 1rem;
}
.images-grid div{
    height: 18rem;
    margin: 0 1rem;
}
.images-grid div:hover{
    border: 6px black solid;
    padding: 0.5rem;
}
.images-grid img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sixth-section{
    background-color: #BAC3C6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 100vh;

    overflow-x: auto;
}
.sixth-section span{
    color: #ff422a;
}
.sixth-section ul li{
    position: absolute;
    top: 9%;
    left: 7%;
    font-size: 1.3rem;
    font-weight: bold;
    list-style: none;
}
.slide-show{
    display: flex;
    align-items: center;
    width: 180%;
    height: 100%;
    position: relative;
    margin-left: 3rem;
}
.back-line{
    position: absolute;
    top: 50%;
    left: 5%;
    border-top: #000 5px solid;
    width: 90%;
}
.slide-show > div{
    background-color: #fff;
    margin: 1rem;
    padding: 1rem;
    font-weight: 510;
    width: 50%;
    height: 30%;
    z-index: 1;
    transition: .25s;
    display: flex;
    align-items: center;
}
.img-div{
    width: 100%;
    height: 100%;
}
.slide-show img{
    width: 90%;
    height: 100%;
}
.p-div p:nth-child(2){
    margin-top: 2rem;
}
.slide-show > div:hover{
    transform: scale(1.05);
}
.read-about{
    position: absolute;
    bottom: 10%;
    right: 5%;
    font-size: 1.3rem;
    font-weight: 510;
    transition: .25s;
}
.read-about:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.sixth-section i{
    color: #ff422a;
}
.seventh-section{
    background-image: linear-gradient(to bottom right, #FF422A 50%,#D33516 50%);
    background-size: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}
.seventh-section:hover{
    background-image: linear-gradient(to bottom left, #FF422A 50%,#D33516 50%);
    background-size: 115%;
}
.seventh-section h2{
    font-size: 4rem;
    color: #fff;
}
.seventh-section span{
    color: #000;
}
.seventh-section button{
    margin-top: 2rem;
    padding: 1rem 3rem;
    background: none;
    border: #000 5px solid;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    transition: .25s;
}
.seventh-section button span{
    padding-left: 1rem;
    color: #fff;
}
.seventh-section button:hover{
    background-color: #000;
    cursor: pointer;
}
footer{
    background-color: #242424;
    color: #fff;
    height: 100vh;
    position: relative;
}
.footer-logo{
    position: absolute;
    top: 5%;
    padding: 0 4rem;
}
.footer-main{
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 4rem;
}
.footer-main aside{
    font-size: 1.8rem;
    color: #ff422a;
}
.footer-main div:nth-child(1){
    width: 40%;
}
.footer-main div:nth-child(2){
    display: flex;
    flex-direction: column;
    width: 50%;
}
.footer-main div:nth-child(2) p{
    padding: 2rem 0;
}
.email{
    background: none;
    border: #ff422a 5px solid;
    padding: 1rem 0;
    padding-left: 1rem;
    padding-right: 4rem;
    width: 60%;
    outline: 0;
}

.footer-main ul{
    display: flex;
    justify-content: space-between;
}
footer ul li{
    list-style: none;
    padding: 1rem 0;
}

.footer-main ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}
footer > div{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    width: 100%;
    height: 8%;
    padding: 1rem;
}
footer span{
    color: #ff422a;
}
@media screen and (min-width:768px) {
    .hero-heading {
        font-size: 3rem;
        font-weight: 600;
        line-height: 3rem;
    }
    .banner {
        height: 100vh;
    }
    .banner video {
        height: 100vh;
    }
}

@media screen and (min-width:992px) {
    nav {
        height: 10vh;
        align-items: center;
        padding: 0 0 0 2rem;
        gap: 10rem;
        position: absolute;
        top: 90vh;
        width: 100%;
    }
    .remove-menu {
        display: none;
    }
    nav ul {
        flex: 1;
        display: flex;
        justify-content: space-between;
    }
    nav ul li {
        list-style: none;
        font-size: 1rem;
        display: inline-block;
        padding: 40px 10px;
        transition: all .5s ease;
    }
    nav ul li:hover{
        color: red;
        cursor: pointer;
    }
    .start {
        background-image: linear-gradient(to bottom right, #FF422A 50%,#D33516 50%);
        background-size: 100%;
        height: 100%;
        color: #fff;
        font-weight: 600;
        transition: all .7s ease;
    }
    .start:hover {
        background-image: linear-gradient(to bottom left, #FF422A 50%,#D33516 50%);
        background-size: 115%;
        color: #fff;
    }
    .greater-black {
        color: #000;
        margin-left: 1rem;
    }
    .banner {
        height: 100vh;
    }
    .banner video {
        height: 100vh;
    }
    .company-logo {
        width:15rem;
    }
    .company-name { 
        font-size: 3rem;
        letter-spacing: .9rem;
        margin-bottom: .5rem;
    }
    .company-name-2 {
        padding: .8rem;
        letter-spacing: .8rem;
        font-size: 1.3rem;
        border-radius: .4rem;
        margin-bottom: .8rem;
    }
    .company-services {
        font-size: .9rem;
        letter-spacing: .11rem;
    }
    .hero {
        height: 80vh;
    }
    .hero-text {
        font-weight: 300;
    }
    .hero-heading {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 5rem;
    }
    .hero-wrapper {
        max-width: 50rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .archi-service, .estate-service, .development-service {
        align-items: center;
        min-width: 60px;
        overflow: hidden;
    }
    .archi-service p, .estate-service p, .development-service p {
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    }
    .other-services {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
    }
}

@media(max-width:992px) {
    .first-section{
        display: flex;
        flex-wrap: wrap;       
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 0.5rem;
        background-color: gainsboro;
        font-size: 1.3rem;
        height: 40rem;
        margin-top: 8rem;
    }
    .mainsec-1{
        margin-right: 2rem;
    }
    .first-section span{
        color: #ff422a;
    }
    .second-section{
        display: flex;
        flex-direction: column;
        margin: 2rem 1rem;
    }
    .second-section h2{
        padding: 1rem 0;
    }    
    .second-section article{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        height: 100%;
        background-color: white;
    }
    .img-sec{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .second-section h2{
        padding: 1rem 0;
        margin: 2rem 1rem;
    }
    .sec-image-div1, .sec-image-div3{
        border-right: #000 5px solid;
    }
    .sec-image-div2{
        order: 1;
        border-left: #000 5px solid;
    }
    .second-section article p{
        padding-top: 1rem;
        padding-left: 1rem;
        margin-top: 4rem;
    }
    .second-section article a{
        text-decoration: none;
        color: #ff422a;
        font-weight: bold;
        padding-bottom: .8rem;
    
    }
    .third-section{
        background-color: black;
        color: white;
        position: relative;
        height: 130vh;
        padding-left: 1rem;
        font-size: 1.2rem;
    }
    .square-dot{
        background-color: #ff422a;
        position: absolute;
        display: block;
        height: 8px;
        width: 8px;
        top: 10%;
        left: 5%;
    }
    .third-section li{
        position: absolute;
        top: 9%;
        left: 7%;
        list-style: none;
    }
    .t-div1{
        position: absolute;
        top: 17%;
        left: 3%;
        width: 15%;
        z-index: 1;
        text-align: right;
    }
    .third-section h2{
        font-size: 3rem;
        width: 100%;
        font-weight: bolder;
    }
    .t-div3{
        position: absolute;
        bottom: 10%;
        right: 5%;
    }
    .third-section span{
        color: #ff422a;
    }
    .t-div2{
        position: relative;
        height: 18rem;
        top: 16rem;
        left: 1rem;
    }
    .t-img1{
        position: absolute;
        height: 140%;
        width: 80%;
        left: 15%;
    }
    .image-hover{
        position: absolute;
        top: 0;
        left: 15%;
        width: 80%;
        height: 140%;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.25s;   
    }
    .image-hover:hover{
        opacity: 1;
    }
    .images-grid span, .fa-regular{
        color: #ff422a;
    }
    .bigger-square{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ff422a;
        width: 5.6rem;
        height: 5.6rem;
        top: 30%;
        left: 83%;
    }
    .bigger-square i{
        color: white;
        font-size: 1.5rem;
    }
    .fourth-section{
        background-color: gainsboro;
        text-align: center;
        height: 130vh;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
    }
    .fourth-section div{
        padding: 1rem;
    }
    .fourth-section img{
        width: 15%;
    }
    .f-sec-p{
        font-weight: bold;
        margin: 1rem;
    }
    .fifth-section h2{
        color: #ff422a;
        font-weight: bolder;
        font-size: 2.9rem;
    }
    .f-div1{
        text-align: right;
        border-right: black 6px solid;
        margin: 4rem 1.5rem;
        padding-right: 1.5rem;
    }
    .images-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(11, 1fr);
        row-gap: 1rem;
        margin: 3rem 0;
    }
    .images-grid div{
        position: relative;
        height: 18rem;
        margin: 0 1rem;
    }
    .grid-hover{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 96%;
        height: 95%;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.25s;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    }
    .images-grid article:hover{
        opacity: 1;
    }
    .images-grid p{
        padding: 1rem;
    }
    .images-grid div{
        height: 18rem;
        margin: 0 1rem;
    }
    .images-grid div:hover{
        border: 6px black solid;
        padding: 0.5rem;
    }
    .images-grid img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .sixth-section{
        background-color: #BAC3C6;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        height: 100vh;
    
        overflow-x: auto;
    }
    .sixth-section span{
        color: #ff422a;
    }
    .sixth-section ul li{
        position: absolute;
        top: 9%;
        left: 7%;
        font-size: 1.3rem;
        font-weight: bold;
        list-style: none;
    }
    .slide-show{
        display: flex;
        align-items: center;
        width: 280%;
        height: 100%;
        position: relative;
        margin-left: 3rem;
    }
    .back-line{
        position: absolute;
        top: 50%;
        left: 5%;
        border-top: #000 5px solid;
        width: 90%;
    }
    .slide-show > div{
        background-color: #fff;
        margin: 1rem;
        padding: 1rem;
        font-weight: 510;
        width: 100%;
        height: 40%;
        z-index: 1;
        transition: .25s;
        display: flex;
        align-items: center;
    }
    .img-div{
        width: 100%;
        height: 100%;
    }
    .slide-show img{
        width: 90%;
        height: 100%;
    }
    .p-div p:nth-child(2){
        margin-top: 2rem;
    }
    .slide-show > div:hover{
        transform: scale(1.05);
    }
    .read-about{
        position: absolute;
        bottom: 10%;
        right: 5%;
        font-size: 1.3rem;
        font-weight: 510;
        transition: .25s;
    }
    .read-about:hover{
        transform: scale(1.05);
        cursor: pointer;
    }
    .sixth-section i{
        color: #ff422a;
    }
    .seventh-section{
        background-image: linear-gradient(to bottom right, #FF422A 50%,#D33516 50%);
        background-size: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 1s ease;
    }
    .seventh-section:hover{
        background-image: linear-gradient(to bottom left, #FF422A 50%,#D33516 50%);
        background-size: 115%;
    }
    .seventh-section h2{
        font-size: 3rem;
        color: #fff;
    }
    .seventh-section span{
        color: #000;
    }
    .seventh-section button{
        margin-top: 2rem;
        padding: 1rem 3rem;
        background: none;
        border: #000 5px solid;
        font-size: 1.2rem;
        font-weight: bold;
        color: #fff;
        transition: .25s;
    }
    .seventh-section button span{
        padding-left: 1rem;
        color: #fff;
    }
    .seventh-section button:hover{
        background-color: #000;
        cursor: pointer;
    }
    footer{
        background-color: #242424;
        color: #fff;
        height: 110vh;
        position: relative;
    }
    .footer-logo{
        position: absolute;
        top: 5%;
        padding: 0 4rem;
    }
    .footer-main{
        position: absolute;
        top: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        padding: 0 4rem;
    }
    .footer-main aside{
        font-size: 1.8rem;
        color: #ff422a;
    }
    .footer-main div:nth-child(1){
        width: 60%;
    }
    .footer-main div:nth-child(2){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        margin-top: 2rem;
    }
    .footer-main div:nth-child(2) p{
        padding: 2rem 0;
    }
    .email{
        background: none;
        border: #ff422a 5px solid;
        padding: 1rem 0;
        padding-left: 1rem;
        padding-right: 4rem;
        width: 80%;
        outline: 0;
    }
    
    .footer-main ul{
        display: flex;
        justify-content: space-between;
    }
    footer ul li{
        list-style: none;
        padding: 1rem 0;
    }
    
    .footer-main ul li:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    footer > div{
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        background-color: #000;
        width: 100%;
        height: 8%;
        padding: 1rem;
    }
    footer span{
        color: #ff422a;
    }
}
@media(max-width:600px){
    .first-section{
        display: block;
        text-align: center;
        background-color: gainsboro;
        font-size: 1.2rem;
        padding-top: 1rem;
        height: 160vh;
    }
  
    .mainsec-1{
        margin-right: 2rem;
    }
    .first-section span{
        color: #ff422a;
    }
    .second-section article{
       display: block;
       border-left: #000 5px solid;
    }
    .sec-image-div1, .sec-image-div3{
        border-right: none;
    }
    .sec-image-div2{
        order: 0;
        border-right: none;
        border-left: none;
    }
    .img-sec{
        width: 100%;
        height: 76%;
        object-fit: cover;
    }
    .second-section h2{
        padding: 1rem 0;
        margin: 2rem 1rem;
    }
    
    .second-section article p{
        padding-top: 1rem;
        padding-left: 1rem;
        margin-top: 4rem;
    }
    .second-section article a{
        text-decoration: none;
        color: #ff422a;
        font-weight: bold;
    
    }
    .third-section{
        background-color: black;
        color: white;
        position: relative;
        height: 120vh;
        padding-left: 1rem;
    }
    .square-dot{
        background-color: #ff422a;
        position: absolute;
        display: block;
        height: 8px;
        width: 8px;
        top: 10%;
    }
    .third-section li{
        position: absolute;
        top: 9%;
        left: 7%;
        list-style: none;
    }
    .third-section h2{
        font-size: 2rem;
    }
    .t-div1{
        position: absolute;
        top: 17%;
        left: 5%;
        width: 100%;
        text-align: left;
    }
    .t-div3{
        position: absolute;
        bottom: 10%;
        right: 5%;
    }
    .third-section span{
        color: #ff422a;
    }
    .t-div2{
        position: relative;
        height: 15rem;
        top: 18rem;
        left: 1rem;
    }
    .t-img1{
        position: absolute;
        height: 110%;
        width: 90%;
        left: 2%;
    }
    .image-hover{
        position: absolute;
        top: 0;
        left: 0;
        width: 95%;
        height: 130%;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.25s;   
    }
    .image-hover:hover{
        opacity: 1;
    }
    .bigger-square{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ff422a;
        width: 5.6rem;
        height: 5.6rem;
        top: 37%;
        left: 70%;
    }
    .bigger-square i{
        color: white;
        font-size: 1.5rem;
    }
    .fourth-section{
        background-color: gainsboro;
        text-align: center;
        height: 120vh;
    }
    .fourth-section div{
        padding: 1rem;
    }
    .fourth-section img{
        width: 15%;
    }
    .f-sec-p{
        font-weight: bold;
        margin: 1rem;
    }
    .fifth-section h2{
        color: #ff422a;
        font-weight: bolder;
        font-size: 2.5rem;
    }
    .f-div1{
        text-align: right;
        border-right: black 6px solid;
        margin: 4rem 1.5rem;
        padding-right: 1.5rem;
    }
    .images-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(21, 1fr);
        gap: 1rem;
        margin: 3rem 0;
    }
    .images-grid div{
        position: relative;
        height: 18rem;
        margin: 0 1rem;
    }
    .grid-hover{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 97%;
        height: 95%;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.25s;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    }
    .images-grid div:hover{
        border: 6px black solid;
        padding: 0.5rem;
        opacity: 1;
    }
    .images-grid article:hover{
        opacity: 1;
    }
    .images-grid span, .fa-regular{
        color: #ff422a;
    }
    .images-grid p{
        padding: 1rem;
    }
    .images-grid img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .sixth-section{
        background-color: #BAC3C6;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        height: 100vh;
    
        overflow-x: auto;
    }
    .sixth-section span{
        color: #ff422a;
    }
    .sixth-section ul li{
        position: absolute;
        top: 9%;
        left: 7%;
        font-size: 1.3rem;
        font-weight: bold;
        list-style: none;
    }
    .slide-show{
        display: flex;
        align-items: center;
        width: 450%;
        height: 100%;
        position: relative;
        margin-left: 3rem;
    }
    .back-line{
        position: absolute;
        top: 50%;
        left: 5%;
        border-top: #000 5px solid;
        width: 90%;
    }
    .slide-show > div{
        background-color: #fff;
        margin: 1rem;
        padding: 1rem;
        font-weight: 510;
        width: 100%;
        height: 50%;
        z-index: 1;
        transition: .25s;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .img-div{
        width: 100%;
        height: 100%;
    }
    .slide-show img{
        width: 100%;
        height: 100%;
    }
    .p-div p:nth-child(2){
        margin-top: 2rem;
    }
    .slide-show > div:hover{
        transform: scale(1.05);
    }
    .read-about{
        position: absolute;
        bottom: 10%;
        left: 5%;
        font-size: 1rem;
        font-weight: 510;
        transition: .25s;
    }
    .read-about:hover{
        transform: scale(1.05);
        cursor: pointer;
    }
    .sixth-section i{
        color: #ff422a;
    }
    .seventh-section{
        background-image: linear-gradient(to bottom right, #FF422A 50%,#D33516 50%);
        background-size: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 1s ease;
    }
    .seventh-section:hover{
        background-image: linear-gradient(to bottom left, #FF422A 50%,#D33516 50%);
        background-size: 115%;
    }
    .seventh-section h2{
        font-size: 2rem;
        padding: 0 2rem;
        color: #fff;
    }
    .seventh-section span{
        color: #000;
    }
    .seventh-section button{
        margin-top: 2rem;
        padding: 1rem 3rem;
        background: none;
        border: #000 5px solid;
        font-size: 1.2rem;
        font-weight: bold;
        color: #fff;
        transition: .25s;
    }
    .seventh-section button span{
        padding-left: 1rem;
        color: #fff;
    }
    .seventh-section button:hover{
        background-color: #000;
        cursor: pointer;
    }
    footer{
        background-color: #242424;
        color: #fff;
        height: 115vh;
        position: relative;
    }
    .footer-logo{
        position: absolute;
        top: 5%;
        padding: 0 4rem;
    }
    .footer-main{
        position: absolute;
        top: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 0 4rem;
    }
    .footer-main aside{
        font-size: 1.8rem;
        color: #ff422a;
    }
    .footer-main div:nth-child(1){
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .footer-main div:nth-child(2){
        display: flex;
        width: 100%;
        margin-top: 2rem;
    }
    .footer-main div:nth-child(2) p{
        padding: 2rem 0;
    }
    .email{
        background: none;
        border: #ff422a 5px solid;
        padding: 1rem 0;
        padding-left: 1rem;
        padding-right: 4rem;
        width: 100%;
        outline: 0;
    }
    .footer-main div:nth-child(2) > i{
        position: relative;
        color: #fff;
    }
    .footer-main button{
        position: relative;
        right: 2%;
        height: 100%;
        width: 15%;
        background-color: #ff422a;
        color: #fff;
        border: none;
    }
    .footer-main button:hover{
        cursor: pointer;
    }
    
    .footer-main ul{
        display: flex;
        justify-content: space-between;
    }
    footer ul li{
        list-style: none;
        padding: 1rem 0;
    }
    
    .footer-main ul li:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    footer > div{
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: space-between;
        background-color: #000;
        width: 100%;
        height: 9%;
        padding: 1rem;
    }
    footer span{
        color: #ff422a;
    }
}